VITE_SITE_URL=http://localhost:3000

# 공공데이터포털 공식 API 연동 키 (재정경제부 공공기관 정보 조회 서비스)
VITE_PUBLIC_DATA_API_KEY=YOUR_PUBLIC_DATA_API_KEY
VITE_PUBLIC_DATA_API_ENDPOINT=https://apis.data.go.kr/1051000/public_inst

# 서울시 열린데이터광장 실시간 지하철 도착정보 API 연동 키
VITE_SEOUL_SUBWAY_API_KEY=YOUR_SEOUL_SUBWAY_API_KEY

# 행정안전부 한국지역정보개발원 (전국 통합데이터) 초정밀버스 위치 실시간 정보 API 연동 키
VITE_BUS_PRECISION_API_KEY=YOUR_BUS_PRECISION_API_KEY
